/* Login Partial Styles */

.login-container {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
}

.login-left {
  flex: 1;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url('images/photo-side.jpg');
  background-size: cover;
  background-position: center;
}

.login-right {
  flex: 1;
}
